<header class="slideout-menu__header">
	<span class="icon icon-garage"></span><span class="slideout-menu__header-title">Vence Garage</span>
</header>

<section class="slideout-menu__section">
	<h3 class="slideout-menu__section-title">Vehicles</h3>
	<ul class="slideout-menu__section-list">
		<li><a href="#/vehicles" class="slideout-menu__button slideout-menu__button-vehicles_list"><span class="icon icon-vehicles_list"></span><span class="text">Parked Vehicles</span></a></li>
		<li><a href="#/vehicles/add" class="slideout-menu__button slideout-menu__button-vehicles_register"><span class="icon icon-vehicles_register"></span><span class="text">Register Vehicle</span></a></li>
		<li><a href="#/vehicles/delete" class="slideout-menu__button slideout-menu__button-vehicles_deregister"><span class="icon icon-vehicles_deregister"></span><span class="text">Deregister Vehicles</span></a></li>
	</ul>
</section>

<section class="slideout-menu__section">
	<h3 class="slideout-menu__section-title">Tools</h3>
	<ul class="slideout-menu__section-list">
		<li><a href="#/settings" class="slideout-menu__button slideout-menu__button-settings"><span class="icon icon-settings"></span><span class="text">Settings</span></a></li>
		<li><a href="#" class="slideout-menu__button slideout-menu__button-clear_cache ignore"><span class="icon icon-clear_cache"></span><span class="text">Clear LocalStorage</span></a></li>
	</ul>
</section>